.jumbotron {
  opacity: 0.97;
}

body {
    background: url("./images/friends.jpg") no-repeat center center fixed;
    background-size: cover;
  }

.panel {
    background-color: rgba(245, 245, 245, 0.8);
}

#imagepreview {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
  font-size: 24px;
  font-style: italic;
  font-variant: small-caps;
}

h1, h2 {
  color: DarkBlue;
}

label, h3, h4, h5, p {
  color: DarkBlue;
  font-weight: bolder;
  font-size: 125%;
}
